<h1 class="text-center m-5"> Hellow word</h1>
<diV class='display-1 text-end'>Hellow </diV>
<div class="display-6 m-5 text-muted"> Pasha
</div>
<span class=" text-muted"> Olga </span>

<button class="btn btn-primary"> Love </button>
<button class=" btn btn-dauger"> <span class='text-success'> Love </span> </button>


<div class="card">
    <div class="card-body">

        <button class="btn btn-primary m-5"> Love </button>
        <button class=" btn btn-dauger"> <span class='text-success'> Love </span> </button>



        fucc
    </div>
</div>

<br>

<div class="row g-5">
    <div class="col-12">
        <div class="nav nav-tabs">

            <div class="nav-item ">

                <a href="/skills" class="nav-link active" alt="olga">Main</a>

            </div>

            <div class="nav-item ">

                <a href="/summary" class="nav-link active" alt="olga">Catalog</a>

            </div>

            <div class="nav-item">

                <a href="work" class="nav-link active" alt="olga">Menu</a>
            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="nav flex-column">

                    <div class="nav-item mb-3 ">
                        <div class="card">
                            <a href="/skills" class="nav-link mb-2 active" alt="olga"> Home page</a>
                        </div>
                    </div>

                    <div class="nav-item mb-3 ">
                        <div class="card">
                            <a href="/summary" class="nav-link mb-2 active" alt="olga">Bootstrap</a>
                        </div>
                    </div>

                    <div class="nav-item mb-3">
                        <div class="card">
                            <a href="work" class="nav-link mb-2 disabled" alt="olga"> FAQ page</a>
                            <button class="btn btn-success m-2 text-outline-dark">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#"> Home</a>
                </li>

                <li class="breadcramb">
                    <a href="#"> Sea and ocean</a>
                </li>
            </ol>
        </div>
    </div>

</div>
<main>
    <div class="row col-8">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#"> OTTO</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#"> OTTO</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#"> OTTO</a>
                    </li>
                    <li class="breadcrumb-item">
                        Cataloge
                    </li>

                </ol>
            </div>
            <div class="col-12">
                <button class="btn btn-info text-uppercase m-5 rounded-pill">Info </button>
                <div class="alert ms-5 alert-primary">
                    <h6>Google <span class="badge text-bg-warning text-uppercase ms-2 rounded-pill">Summary</span></h6>

                    Warning
                </div>
            </div>
        </div>
    </div>
</main>