<h1 class="text-center"> Hellow word</h1>
<diV class='display-1 text-end'>Hellow </diV>
<div class="display-6  text-muted"> Pasha
</div>
<span class=" text-muted"> Olga </span>

<button class="btn btn-primary"> Love </button>
<button class=" btn btn-dauger"> <span class='text-success'> Love </span> </button>


<div class="card">
    <div class="card-body">

        <button class="btn btn-primary"> Love </button>
        <button class=" btn btn-dauger"> <span class='text-success'> Love </span> </button>



        fucc
    </div>
</div>