<<<<<<< HEAD
<h1 class="text-center m-5"> Hellow word</h1>
=======
<h3 class="display-3"> Pashuk </h3>
{{>title data="my love"}}<h1 class="text-center"> Hellow word</h1>
>>>>>>> 406652a354dba9f57d80078a4587b6f868eb384e
<diV class='display-1 text-end'>Hellow </diV>
<div class="display-6 m-5 text-muted"> Pasha
</div>
<span class=" text-muted"> Olga </span>

<button class="btn btn-primary"> Love </button>
<button class=" btn btn-dauger"> <span class='text-success'> Love </span> </button>


<div class="card">
    <div class="card-body">

        <button class="btn btn-primary m-5"> Love </button>
        <button class=" btn btn-dauger"> <span class='text-success'> Love </span> </button>



        fucc
    </div>
</div>
<<<<<<< HEAD

<br>

<div class="row g-5">
    <div class="col-12">
        <div class="nav nav-tabs">

            <div class="nav-item ">

                <a href="/skills" class="nav-link active" alt="olga">Main</a>

            </div>

            <div class="nav-item ">

                <a href="/summary" class="nav-link active" alt="olga">Catalog</a>

            </div>

            <div class="nav-item">

                <a href="work" class="nav-link active" alt="olga">Menu</a>
            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="nav flex-column">

                    <div class="nav-item mb-3 ">
                        <div class="card">
                            <a href="/skills" class="nav-link mb-2 active" alt="olga"> Home page</a>
                        </div>
                    </div>

                    <div class="nav-item mb-3 ">
                        <div class="card">
                            <a href="/summary" class="nav-link mb-2 active" alt="olga">Bootstrap</a>
                        </div>
                    </div>

                    <div class="nav-item mb-3">
                        <div class="card">
                            <a href="work" class="nav-link mb-2 disabled" alt="olga"> FAQ page</a>
                            <button class="btn btn-success m-2 text-outline-dark">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#"> Home</a>
                </li>

                <li class="breadcramb">
                    <a href="#"> Sea and ocean</a>
                </li>
            </ol>
        </div>
    </div>

</div>
<main>
    <div class="row col-8">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#"> OTTO</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#"> OTTO</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#"> OTTO</a>
                    </li>
                    <li class="breadcrumb-item">
                        Cataloge
                    </li>

                </ol>
            </div>
            <div class="col-12">
                <button class="btn btn-info text-uppercase m-5 rounded-pill">Info </button>
                <div class="alert ms-5 alert-primary">
                    <h6>Google <span class="badge text-bg-warning text-uppercase ms-2 rounded-pill">Summary</span></h6>

                    Warning
                </div>
            </div>
        </div>
    </div>
</main>
=======
<div class="p-5">
    <h3> Pashuk </h3>
    <h1 class="bi bi-bandaid"> Pasha</h1>
    <h1 class="display-1">Pashuk <i class="bi bi-balloon-heart"></i></h1>
    <button class="bi bi-balloon-heart btn btn-outline-danger">PAShUK</button>
    <div><i class="fa-solid fa-hippo fa-beat fa-xs" style="color: #9a4260;"></i>
    </div>
    <div class=" btn btn-lg btn-outline-dark fa-solid fa-hippo fa-beat fa-lg" style="color: #9a4260;"> PAShUK <h3
            class="display-3"> Pashuk </h3>
        {{>title data="my love"}} </div>
    <div>
        <i class="fa-solid fa-link fa-beat fa-xs" style="color: #340fae;"></i>
    </div>

    <div><i class="fa-solid fa-hippo fa-beat fa-lg" style="color: #9a4260;"></i> </div>
    <div>
        <svg width="100px" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
                d="M407 47c9.4-9.4 24.6-9.4 33.9 0l17.2 17.2c1.9-.1 3.9-.2 5.8-.2h32c11.2 0 21.9 2.3 31.6 6.5L543 55c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L564 101.9c7.6 12.2 12 26.7 12 42.1c0 10.2 7.4 18.8 16.7 23c27.9 12.5 47.3 40.5 47.3 73c0 26.2-12.6 49.4-32 64v32c0 8.8-7.2 16-16 16H560c-8.8 0-16-7.2-16-16V320H480v16c0 8.8-7.2 16-16 16H432c-8.8 0-16-7.2-16-16V318.4c-11.8-2.4-22.7-7.4-32-14.4c-1.5-1.1-2.9-2.3-4.3-3.5c-17-14.7-27.7-36.4-27.7-60.5c0-8.8-7.2-16-16-16s-16 7.2-16 16c0 44.7 26.2 83.2 64 101.2V352c0 17.7 14.3 32 32 32h32v64c0 17.7-14.3 32-32 32H352c-17.7 0-32-14.3-32-32V372c-19.8 7.7-41.4 12-64 12s-44.2-4.3-64-12v76c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V329.1L45.9 369.7c-5.4 12.1-19.6 17.6-31.7 12.2S-3.3 362.4 2.1 350.3L24 300.9c5.3-11.9 8-24.7 8-37.7C32 155.7 117.2 68 223.8 64.1l.2-.1h7.2H256h32c41.7 0 83.4 12.1 117.2 25.7c1.7-1.8 3.5-3.6 5.3-5.2L407 81c-9.4-9.4-9.4-24.6 0-33.9zm73 185a24 24 0 1 0 -48 0 24 24 0 1 0 48 0zm88 24a24 24 0 1 0 0-48 24 24 0 1 0 0 48zM480 144a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zm48 16a16 16 0 1 0 0-32 16 16 0 1 0 0 32z" />
        </svg>
    </div>
    <div><img src="/svg/link.svg"></div>
</div>
>>>>>>> 406652a354dba9f57d80078a4587b6f868eb384e
